<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <meta name="mobile-web-app-capable" content="yes">
    <title>{{ request.user.display_name if request.user else 'Pandentia' }}'s Journal</title>
    <link href="https://fonts.googleapis.com/css?family={{ fonts['title'] }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family={{ fonts['body'] }}" rel="stylesheet">

    {% if request.user and request.user.theme == 'dark' %}
        <link rel="stylesheet" href="/static/bootstrap/solar.4.1.1.css">
    {% else %}
        <link rel="stylesheet" href="/static/bootstrap/default.4.1.1.css">
    {% endif %}

    <style>
        :root {
            --title-font: {{ fonts['title'] }};
            --body-font: {{ fonts['body'] }};
        }
    </style>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="/static/style.css">

    <script>/* Fix for Firefox's FOUC */</script>
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
