{% extends "app/container.jinja2" %}
{% block container %}
    <a class="btn btn-outline-primary mx-1" href="edit">Edit</a>
    <a class="btn btn-outline-danger mx-1" href="delete">Delete</a>
    <hr class="my-2"/>

    <span class="badge badge-primary">{{ entry.timestamp_human }}</span>

    {% if entry.tags %}
        {% for tag in entry.tags %}
            <a class="badge badge-secondary"
               href="/app/entries?tag={{ tag | urlencode }}">{{ tag | escape }}</a>
        {% endfor %}
    {% endif %}

    <h1>{{ entry.title | escape }}</h1>

    <hr class="my-2"/>
    {{ entry_html }}
{% endblock %}
