{% extends "app/container.jinja2" %}
{% block container %}
    <!--suppress HtmlUnknownTarget -->
    <a class="btn btn-outline-primary mx-1" href="edit">Edit</a>
    <a class="btn btn-outline-danger mx-1" href="delete">Delete</a>
    <hr class="my-2" />
    <small class="text-muted">{{ entry.timestamp_human }}</small>
    <h1>{{ entry.title | escape }}</h1>
    <hr class="my-2" />
    {{ entry_html }}
{% endblock %}
