{% extends "app/container.jinja2" %}
{% block container %}
    <a class="btn btn-outline-primary mx-1" href="entries/new">New Entry</a>
    <hr class="my-2" />
    {% if entries %}
        <ul class="list-group mb-5">
            {% for entry in entries %}
                <li class="list-group-item">
                    <div class="float-right ml-2">
                        <a class="btn btn-outline-primary mx-1" href="entry/{{ entry.id }}/edit">Edit</a>
                        <a class="btn btn-outline-danger ml-1" href="entry/{{ entry.id }}/delete">Delete</a>
                    </div>
                    <a href="entry/{{ entry.id }}/view">{{ entry.title | escape }}</a><br>
                    <small class="text-muted">{{ entry.timestamp_human }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info" role="alert">
            You don't have any entries yet. Press the button above to get started.
        </div>
    {% endif %}
{% endblock %}
