{% extends "app/container.jinja2" %}
{% block container %}
    <a class="btn btn-outline-primary mx-1" href="entries/new">New Entry</a>
    {% if filter %}
        <a class="btn btn-outline-secondary mx-1" href="entries">Clear <code>{{ filter | escape }}</code> tag filter</a>
    {% endif %}
    <hr class="my-2"/>
    {% if entries %}
        <ul class="list-group mb-5">
            {% for entry in entries %}
                <li class="list-group-item entry">
                    <div class="float-right ml-2">
                        <a class="btn btn-outline-primary mx-1" href="entry/{{ entry.id }}/edit">Edit</a>
                        <a class="btn btn-outline-danger ml-1" href="entry/{{ entry.id }}/delete">Delete</a>
                    </div>
                    <a href="entry/{{ entry.id }}/view">{{ entry.title | escape }}</a>
                    <small class="text-muted mt-2">
                        {{ entry.timestamp_human }}
                        {% if entry.tags %}
                            {{ "\N{BULLET}" }}
                            {% for tag in entry.tags %}
                                <a href="entries?tag={{ tag | urlencode }}">{{ tag | escape }}</a>
                                {{ "\N{BULLET}" if not loop.last }}
                            {% endfor %}
                        {% endif %}
                    </small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info" role="alert">
            You don't have any entries yet. Press the button above to get started.
        </div>
    {% endif %}
{% endblock %}
