{% extends "app/container.jinja2" %}
{% block container %}
    <a class="btn btn-outline-primary mx-1" href="entries/new">New Entry</a>
    <hr class="my-2" />
    <ul class="list-group">
        {% for entry in entries %}
            <li class="list-group-item my-1">
                <div class="float-right">
                    <a class="btn btn-outline-primary mx-1" href="entry/{{ entry.id }}/edit">Edit</a>
                    <a class="btn btn-outline-danger ml-1" href="entry/{{ entry.id }}/delete">Delete</a>
                </div>
                <a href="entry/{{ entry.id }}/view"><b>{{ entry.title | escape }}</b></a><br>
                <small class="text-muted">{{ entry.at.strftime('%Y-%m-%d %H:%M:%S %Z') }}</small>
            </li>
        {% endfor %}
    </ul>
    {% if not entries %}
        <div class="alert alert-info" role="alert">
            You don't have any entries yet. Press the button above to get started.
        </div>
    {% endif %}
{% endblock %}
