{% extends "app/container.jinja2" %}
{% block container %}
    <form action="" method="post">
        <button type="submit" class="btn btn-outline-primary mx-1">Save</button>
        {% if notice %}
            <div class="alert alert-info my-2">{{ notice | escape }}</div>
        {% endif %}
        {% if warn %}
            <div class="alert alert-warning my-2">{{ warn | escape }}</div>
        {% endif %}
        <hr class="my-2"/>

        <h2>User Info</h2>

        <h3>Security</h3>

        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" class="form-control"
                   placeholder="{{ request.user.username | escape }}">
            <small class="text-muted">
                This is the name you use to log in. Usually you don't want to change this.
                It can consist of lowercase alphanumerics, <code>_</code>, <code>-</code> and <code>.</code>.
            </small>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" class="form-control" autocomplete="new-password">
            <small class="text-muted">
                If you want to change your password, fill in this field.
                Please note that this will log out of all other sessions for security reasons.
            </small>
        </div>

        <div class="form-group">
            <label for="session-length">Session Length</label>
            <input id="session-length" name="session-length" class="form-control" type="number"
                   placeholder="{{ request.user.token_expiry }}">
            <small class="text-muted">
                This is the maximum amount of time (in seconds) that a session can last for before it will be logged
                out. <code>0</code> disables this functionality.<br>
                Please note that changing this will also log out all other sessions for security reasons.
            </small>
        </div>

        <div class="form-check">
            <input id="session-invalidation" name="session-invalidation" class="form-check-input" type="checkbox">
            <label class="form-check-label">Invalidate sessions on other devices.</label>
            <small class="text-muted">If you think your account may be compromised, ticking this will log out other
                sessions.</small>
        </div>

        <label>Account deletion</label><br>
        <a href="settings/delete-account" class="btn btn-outline-danger mb-2">Delete my account</a>

        <h3>Personalization</h3>

        <div class="form-group">
            <label for="display-name">Display Name</label>
            <input id="display-name" name="display-name" type="text" class="form-control"
                   placeholder="{{ request.user.display_name | escape }}">
            <small class="text-muted">
                This is the name the service uses to refer to you, for instance in the page
                title.
            </small>
        </div>

        <div class="form-group">
            <label for="timezone">Timezone</label>
            <select id="timezone" name="timezone" class="form-control">
                <option selected>{{ request.user.timezone | escape }}</option>
                <option></option>
                {% for timezone in timezones %}
                    <option>{{ timezone | escape }}</option>
                {% endfor %}
            </select>
            <small class="text-muted">This is the timezone used to create future entries.</small>
        </div>

        <h4>UI</h4>

        <h5>Theme</h5>

        <div class="form-group">
            <input id="theme-light" name="theme" type="radio"
                   value="light" {{ 'checked' if request.user.ui_theme == 'light' }}>
            <label for="theme-light">Light</label><br>
            <input id="theme-dark" name="theme" type="radio"
                   value="dark" {{ 'checked' if request.user.ui_theme == 'dark' }}>
            <label for="theme-dark">Dark</label>
        </div>

        <h5>Fonts</h5>

        <small class="text-muted">Any font on <a href="https://fonts.google.com">Google Fonts</a> is supported.</small>
        <div class="form-group">
            <label for="title-font">Titles</label>
            <input id="title-font" name="title-font" type="text" class="form-control"
                   placeholder="{{ fonts['title'] | escape }}">
        </div>

        <div class="form-group">
            <label for="body-font">Body</label>
            <input id="body-font" name="body-font" type="text" class="form-control"
                   placeholder="{{ fonts['body'] | escape }}">
        </div>

        {% include 'csrf.jinja2' %}
    </form>
{% endblock %}
